body #drupal-off-canvas .inline-block-create-button {
  font-size: 12px;
  padding: 15px 45px;
}

body #drupal-off-canvas .inline-block-list__item {
  padding: 7px 20px;
  font-size: 12px;
}

body .js-layout-builder-filter {
  width: 100% !important;
}

body #drupal-off-canvas .button {
  background: #1f1d1d;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  display: block;
  text-align: center;
  font-weight: bold;
}

body #drupal-off-canvas .markup {
  line-height: unset;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0;
}

body #drupal-off-canvas span {
  font-family: Glyphicons Halflings;
}
